<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <h1>Welcome!!!!!, <%= user.username %></h1>
     <p>You got a job! </p>
     <p>The job is <%= job.title %></p>
     <br>
     <p><%= job.description %></p>
     <br> 
     <p><%= job.instructions %></p>
     <br>
     <p><%= job.address %></p>
     <br>
  </body>
</html>