!!! 5
%html
%head
  %title Helper App
  %script{ type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyC8hKAIIWTKKpcc5qz7F7RGkD9vRugPlVE"}
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  .header
    .header-content
      = render 'layouts/header'
  .site-content
    .devise-alerts
      -# %p.notice= notice
      -# %p.alert= alert
    .main-content
      = yield
    .footer
      = render 'layouts/footer'