!!! 5
%html
%head
  %title Helper App
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  .header
    %h1= link_to 'HELPER APP', root_path
    .nav
      %ul.nav-links
        %li.nav-link= link_to 'ALL JOBS', jobs_path
        %li.nav-link= link_to 'NEW JOB', new_job_path
        %li.nav-link= link_to 'ALL BIDS', bids_path
        -# - if user_signed_in?
        -#   %li= link_to 'Logout', destroy_user_session_path, :method => :delete
        -#   %li= link_to 'Edit registration', edit_user_registration_path
        -# - else
        -#   %li= link_to 'Login', new_user_session_path
        -#   %li= link_to 'Register', new_user_registration_path
  .devise-alerts
    -# %p.notice= notice
    -# %p.alert= alert
  .main-content
    = yield