!!! 5
%html
%head
  %title Helper App
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  .header
    %h1 Helper App
    .nav
      %ul.nav-links
        %li.nav-link= link_to 'see all jobs', jobs_path
        %li.nav-link= link_to 'list a jobs', new_job_path
        %li.nav-link= link_to 'see all bids', bids_path
        
  .main-content
    = yield