!!! 5
%html
%head
  %title Helper App
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  .site-content
    .header
      = render 'layouts/header'
    .devise-alerts
      -# %p.notice= notice
      -# %p.alert= alert
    .main-content
      = yield
    .footer
      = render 'layouts/footer'