= form_for [@job, @bid] do |f|
  = f.fields_for :bid do |b| 
    .field
      = f.label :date_time
      = f.datetime_select  :date_time
    .field
      = b.label :note
      = b.text_field :note
  .actions
    = f.submit