.new-job
  = form_for @job do |f|

    %p= f.label :title
    %p= f.text_field :title

    %p= f.label :description
    %p= f.text_field  :description

    %p= f.label :instructions
    %p= f.text_field  :instructions

    %p= f.label :address
    %p= f.text_field  :address

    %p= f.label :date_time
    %p= f.datetime_select  :date_time

    %p= f.label :postcode
    %p= f.text_field  :postcode

    %p= f.submit