.standard-width-content
  .center-button
    %button#toggle-index-map-list MAP / LIST

  #jobs-index-map-container
    -# %input#jobs-index-map-search{placeholder: 'enter an address'}
    #jobs-index-map

  #jobs-index-list 
    - @jobs.each do |job|
      .job-index-post
        %h3= link_to job.title, job_path(job)
        %h4
          Posted by:
          = job.poster.username
        %h4
          Date and Time:
          = job.date_time.to_formatted_s(:long_ordinal)
        %p= job.description
        .address= job.postcode
        - if job.applicants.include? current_user
          %span.bid-status YOU HAVE APPLIED