.standard-width-content
  #job-show-map
  .address= @job.postcode
  .job-id= @job.id

  .job-show-header
    %h3= @job.title
    %h4
      Posted by
      = link_to @job.poster.username, profile_path(@job.poster)
    
    - if user_signed_in?
      .bid-status
        - if @job.poster == current_user
          = link_to 'EDIT', edit_job_path
        - elsif @job.helper == current_user
          = YOU HAVE WON THIS JOB
        - elsif @job.applicants.include? current_user
          = YOU HAVE APPLIED
    - else
      .bid-status= link_to 'I CAN HELP', new_job_bid_path(@job)

  .job-show-content
    %h4 Description
    %p= @job.description
    %h4 Date and Time
    %p= @job.date_time.to_formatted_s(:long_ordinal)

    - if user_signed_in?
      - if @job.poster == current_user || @job.helper == current_user
        %h4 Instructions
        %p= @job.instructions
        %h4 Agreed time
        %p= @job.date_time.to_formatted_s(:long_ordinal)
        %h4 Address
        %p= @job.address

  - if user_signed_in? && @job.poster == current_user
    .job-show-helper
      There are no offers to show yet.

    .page-nav
      = link_to 'EDIT', edit_job_path
      = link_to 'BACK', jobs_path