#job-show-map
.address= @job.postcode
.job-id= @job.id

.standard-width-content
  .job-show-header
    %h2= @job.title
    %h4
      Posted by
      = link_to @job.poster.username, profile_path(@job.poster)
    
    - if user_signed_in?
      .bid-status
        - if @job.poster == current_user
          = link_to 'EDIT', edit_job_path
        - elsif @job.helper == current_user
          = link_to 'YOU HAVE WON', dashboard_path
        - elsif @job.applicants.include? current_user
          = link_to 'YOU HAVE OFFERED', dashboard_path
    - else
      .bid-status= link_to 'I CAN HELP', new_job_bid_path(@job)

  .job-show-content
    %h3 Description
    %p= @job.description
    %h3 Requested Time
    %p= @job.date_time.to_formatted_s(:long_ordinal)

    - if user_signed_in?
      - if @job.poster == current_user || @job.helper == current_user
        %h3 Instructions
        %p= @job.instructions
        %h3 Address
        %p= @job.address
        - if @job.helper
          %h3 Agreed time
          %p= @job.date_time.to_formatted_s(:long_ordinal)

  - if user_signed_in? && @job.poster == current_user
    .job-show-helper
      %h4 There are no offers to show yet.