#job-show-map

%h2= @job.title

%h4
  - if @job.poster == current_user
    %span.bid-status= link_to 'EDIT', edit_job_path
  - elsif @job.helper == current_user
    %span.bid-status YOU HAVE WON THIS JOB
  - elsif @job.applicants.include? current_user
    %span.bid-status YOU HAVE APPLIED
  - else
    %span.bid-status= link_to 'I CAN HELP', new_job_bid_path(@job)
  POSTED BY
  = link_to @job.poster.username, profile_path(@job.poster)

%h3 DESCRIPTION
%p= @job.description

%input{type: "hidden", value: @job.id, id: 'hidden-button'}

- if @job.poster == current_user || @job.helper == current_user
  %h3 INSTRUCTIONS
  %p= @job.instructions

/ - if @job.poster == current_user
/   %h3 APPLICATIONS
/   %table
/     %tr
/       %td User
/       %td Note
/       %td Select
/     - @job.bids.each do |bid|
/       %tr#choose_helper_table
/         %td= link_to bid.applicant.username, profile_path(bid.applicant)
/         %td= bid.note
/         %td= bid.applicant.id
/         %td
/           %button.choose_helper_button{'data-id' => bid.job_id, 'data-helper-id' => bid.applicant.id} Choose
/           / button is pressed by elder, their id is already entered into the job table as current user thru devise. this button needs to enter the applicant_id (from the bid table), into the helper_id in the job table. Then redirect to dashboard

%table.js-choose_helper_table
  %tr
    %td User
    %td Note
    %td Select
    %td
   		%button.choose_helper_button{'data-id' => bid.job_id, 'data-helper-id' => bid.applicant.id} Choose
  
      


- if @job.poster == current_user
  .page-nav
    = link_to 'EDIT', edit_job_path
    = link_to 'BACK', jobs_path







