%h2= @job.title

-# %h2= link_to 'I CAN HELP', new_job_bid_path

%h3 DESCRIPTION
%p= @job.description

%h3 INSTRUCTIONS
%p= @job.instructions

%h4
  posted by
  = link_to @job.poster.username, profile_path(@job.poster)

%h4
  applied for by
  - @job.applicants.each do |applicant|
    = link_to applicant.username, profile_path(applicant)