.standard-width-content
  
  - if current_user.poster_jobs == [] && current_user.helper_jobs == []
    %h2 Welcome!
    %h3 To get started, please browse or post jobs from the links above.
  
  - if current_user.poster_jobs != []
    %h2 Jobs Posted

  - current_user.poster_jobs.order('date_time').each do |job|
    .job-index-post
      %h3= link_to job.title, job_path(job)
      %h4
        = job.date_time.to_formatted_s(:long_ordinal)
        |
        = pluralize(job.applicants.count, 'offer')
      %p= job.description

  - if current_user.helper_jobs != []
    %h2 Helping With

  - current_user.helper_jobs.order('date_time').each do |job|
    .job-index-post
      %h3= link_to job.title, job_path(job)
      %h4
      %p= job.description
      %h4 Instructions
      %p= job.instructions
      %h4 Agreed time
      %p= job.date_time.to_formatted_s(:long_ordinal)
      %h4 Address
      %p= job.address