.standard-width-content
  
  - if current_user.poster_jobs != []
    %h2 Jobs Posted

  - current_user.poster_jobs.each do |job|
    .job-index-post
      %h3= link_to job.title, job_path(job)
      %h4
        Date and Time:
        = job.date_time.to_formatted_s(:long_ordinal)
      %p= job.description

  - if current_user.helper_jobs != []
    %h2 Helping With

  - current_user.helper_jobs.each do |job|
    .job-index-post
      %h3= link_to job.title, job_path(job)
      %h4
      %p= job.description
      %h4 Instructions
      %p= job.instructions
      %h4 Agreed time
      %p= job.date_time.to_formatted_s(:long_ordinal)
      %h4 Address
      %p= job.address