.dashboard-jobs-container
  - if current_user.poster_jobs == [] && current_user.helper_jobs == [] && current_user.bids == []
    %h1 Welcome!
    %h2 To get started, please browse or post jobs from the links above.
  -else
    .dashboard-jobs-column
      .dashboard-jobs-top
        %h2 Your Posted Tasks
        = link_to 'FIND A HELPR', new_job_path
      .dashboard-jobs-details
        - if current_user.poster_jobs == []
          %h5 (No jobs to display)
        -else
          - current_user.poster_jobs.order('date_time').each do |job|
            .dashboard-jobs-post
              %h3= link_to job.title, job_path(job)
              %h4
                = job.date_time.to_formatted_s(:long_ordinal)
                |
                = pluralize(job.applicants.count, 'offer')
              %p= job.description
              .page-nav
                = link_to 'EDIT', edit_job_path(job)
    .dashboard-jobs-column
      .dashboard-jobs-top
        %h2 You're Helping With
        = link_to 'BROWSE POSTS', jobs_path
      .dashboard-jobs-details
        - if current_user.helper_jobs == []
          %h5 (No tasks to display)
        -else
          - current_user.helper_jobs.order('date_time').each do |job|
            .job-index-post
              %h3= link_to job.title, job_path(job)
              %h4
              %p= job.description
              %h4 Instructions
              %p= job.instructions
              %h4 Agreed time
              %p= job.date_time.to_formatted_s(:long_ordinal)
              %h4 Address
              %p= job.address
    .dashboard-jobs-column
      .dashboard-jobs-top
        %h2 Your Pending Offers
        = link_to 'LEND A HAND', jobs_path
      .dashboard-jobs-details
        - if current_user.helper_jobs == []
          %h5 (No offers to display)
        -else
          %h5 (Jobs to display)