.new-bid
  = form_for @bid do |f|

    # %p= f.hidden_field :job_id, value: (necesary? or inherited?)
    # %p= f.hidden_field :applicant_id, value: current_user.id

    %p= f.label :jobdatetime
    %p= f.text_field  :jobdatetime

    %p= f.label :note
    %p= f.text_field :note
    
    %p= f.submit