.form
  .prize-job
    = form_for @prize do |f|
     
      %p= f.text_field :company, :placeholder => "Company Name"

      %p= f.file_field :company_image, :placeholder => "Company image/logo"

      %p= f.text_field  :title, :placeholder => "Title"

      %p= f.file_field :prize_image, :placeholder => "prize image"

      %p= f.text_field :remote_company_image_url, :placeholder => "Upload prize image"

      %p= f.text_field :remote_prize_image_url, :placeholder => "Upload company image"

      %p= f.text_field  :description, :placeholder => "Description"

      %p= f.select :tier, options_for_select([["Gold", "gold"], ["Silver", "silver"], ["Bronze", "bronze"]])

      

      %p= f.submit




