!!!
%html
%head
  = favicon_link_tag image_path('favicon.ico')
  %title Helpr
  %link{href: "//fonts.googleapis.com/css?family=Montserrat", rel: "stylesheet", type: "text/css"}
  %script{ type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyC8hKAIIWTKKpcc5qz7F7RGkD9vRugPlVE"}
  = stylesheet_link_tag    'application'
  = javascript_include_tag 'application'
  = csrf_meta_tags
%body
  = render 'layouts/header'
  .site-content
    .devise-alerts
      .flash-notice
        %p= notice
        %p= alert
    = yield