!!! 5
%html
%head
  %title helpr
  %link{href: "http://fonts.googleapis.com/css?family=Montserrat|Cardo", rel: "stylesheet", type: "text/css"}
  %script{ type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyC8hKAIIWTKKpcc5qz7F7RGkD9vRugPlVE"}
  = stylesheet_link_tag    'application'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  %script{:src => "//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"}
  %script{:src => "http://listjs.com/no-cdn/list.js"}
  %script{:src => "http://listjs.com/no-cdn/list.pagination.js"}
%body
  = render 'layouts/header'
  .site-content
    .devise-alerts
      %p.notice= notice
      %p.alert= alert
    .main-content
      = yield
    -# .footer
    -#   = render 'layouts/footer'